# Install curl, git, meteor
RUN apt-get update && apt-get install -y curl git
RUN curl https://install.meteor.com/ | sh

# Download meteor app (since buggy, use microscope for now)
RUN git clone https://github.com/DiscoverMeteor/Microscope.git home/app

{{#if  no }}
  ADD /tmp/this /home/app/no
COPY /tmp/* /home/app/private
{{/if}}

{{#if yes  }}
YES YES YES YES YES

YES YES YES YES YES
{{/if}}

{{#if sameLine}} WITH A SINGLE SPACE IN FRONT {{/if}}

# Move to app directory
WORKDIR /home/app

# Start app as entrypoint
ENTRYPOINT ["meteor"]
